appdirs==1.4.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.4
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
hs-test-python==4.0.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
psutil==5.8.0
pyee==8.1.0
pyppeteer==0.2.5
requests==2.25.1
soupsieve==2.2.1
SQLAlchemy==1.4.15
tqdm==4.60.0
urllib3==1.24.3
websockets==8.1
Werkzeug==1.0.1
